{% extends 'base.html.twig' %}

{% block title %}Edit Education{% endblock %}

{% block body %}
    <h1>Edit Education</h1>

    {{ include('education/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_profile_index') }}">back to list</a>

{% endblock %}
